$font-Manrope: 'Manrope', sans-serif;
$font-MessinaSans: 'MessinaSans', sans-serif;
$font-MessinaSansSerif: 'MessinaSansSerif', sans-serif;
$font-MessinaSansMono: 'MessinaSansMono', sans-serif;

$font-OpenSans: 'Open Sans', sans-serif;

// Colors
$color-orange:#FFA800;
$color-white:#FFFFFF;
$background-color:#1C1C1C;

$color-black: #1A1A1A;
$color-red: #F2571F;

$promocode-bg:#E5E5E5;
$price-color:#F9D298;

// Media queries
$past-desktop-extra:1500px;
$desktop-extra: 1200px;
$desktop: 992px;

$tablet: 768px;
$mobile: 576px;
$before-mobile:452px;
$mini-mobile:413px;